html {
    font-size: 10px;
}

body {
    margin: 0px;
    padding: 0px;
}

.hero {
    background-image: url("./assets/desktop/bkg-baked-goods.png");
    background-color: rgba(47, 47, 47, 0.6);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

/*Header*/
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 7rem;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-img {
    padding: 0rem;
    margin: 0rem 1rem;
}

.logo-img img {
    width: 5rem;
}

.logo-name h1 {
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-weight: 300;

    margin-right: 30rem;
    margin-bottom: 0px;
    padding-left: 0.5rem;
}

.logo-name h1 span {
    font-weight: 700;
}

.logo-name h3 {
    color: #efb13e;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    margin: 0px;
    padding-left: 0.5rem;
}

.navigator {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

nav a {
    color: #f2f2f2;
    text-decoration: none;
    margin: 0rem 1rem;
}

nav a:active {
    color: #efb13e;
}

.icons {
    display: flex;
    flex-direction: row;
}

.icons figure {
    margin: 0rem;
}

.icons img{
    width: 2rem;
    margin: .5rem;
}

/*Section HOME*/
#home {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home figure img {
    width: 10rem;
    margin-top: 10rem;
}

#home h3 {
    color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.75rem;

    margin: 0rem;
}

#home h1 {
    color: #f2f2f2;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 9rem;

    margin: 0.5rem;
}

#home div {
    width: 70rem;
    text-align: center;
    margin: 2rem;
}

#home p {
    color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
}

#home a {
    color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;

    margin-top: 5rem;
    margin-bottom: 10rem;

    text-decoration: underline;
    text-decoration-color: #efb13e;
}

/* About Section*/
.ad {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-ad {
    display: flex;
    flex-direction: column;
    background-color: #2f2f2f;
    width: 57rem;
    height: 35rem;
    margin: 10rem 2rem 5rem;
    text-align: center;
    justify-content: center;
}

.about-ad h4 {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
    color: #f2f2f2;
    margin: 1rem;
    padding: 0rem;
}

.about-ad h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 3.5rem;
    color: #f2f2f2;
    margin: 1rem;
    padding: 0rem;
}

.about-ad span {
    font-weight: 700;
    color: #7a9c0a;
}

.about-ad p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: #f2f2f2;
    margin: 1.5rem;
    padding: 0rem;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
}

#about h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    color: #efb13e;

    margin-top: 0rem;
    margin-bottom: 0.5rem;
    padding: 0rem;
}

#about h3 {
    font-family: 'Lobster', cursive;
    font-size: 6rem;
    color: #2f2f2f;

    margin: 1.5rem;
    padding: 0rem;
}

.about-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: #2f2f2f;
    width: 70rem;
    text-align: center;
}

.three-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-icons {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 4rem 5rem;
}

.yellow-circle img{
    width: 8rem;
}

.about-icons h6 {
    color: #2f2f2f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin: 0.5rem 0rem;
    padding: 0rem;
}

.about-icons p {
    color: #2f2f2f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    width: 16rem;
    text-align: center;
    margin: 0.5rem 0rem;
    padding: 0rem;
}

/*Shop Seciton*/

#shop {
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0rem;
}

.shop-ad {
    display: flex;
    flex-direction: column;
    background-color: #2f2f2f;
    width: 120rem;
    height: auto;
    margin: 5rem 0rem;
    text-align: center;
    justify-content: center;
}

.shop-ad h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #f2f2f2;
    margin-top: 3rem;
    margin-bottom: .5rem;
    padding: 0rem;
}

.shop-ad h2 {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    color: #f2f2f2;
    margin: 1rem;
    padding: 0rem;
}


.shop-ad h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #7a9c0a;
    margin-bottom: 3rem;
    text-decoration: underline;
    text-decoration-color: #efb13e;
}

#shop h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    color: #efb13e;
    text-align: center;

    margin-bottom: 0.5rem;
    padding: 0rem;
}

#shop h3 {
    font-family: 'Lobster', cursive;
    font-size: 6rem;
    color: #2f2f2f;

    margin: 1.5rem;
    padding: 0rem;
}

#shop-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 120rem;
    margin-bottom: 5rem;
}

.shop-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 1rem;
    padding: 0rem;
    width: 30rem;
    height: 35rem;
    background-color: white;
    border-radius: 1rem;

}

.shop-img img {
    width: 20rem;
    height: 20rem;
    margin: 0rem;
    padding: 0rem;
}

.shop-img h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #2f2f2f;
    margin: .5rem 0rem 0rem 0rem;
    padding: 0rem;
}

.shop-img p {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    color: #efb13e;
    margin: 0rem 0rem 0.5rem 0rem;
    padding: 0rem;
}

/*Testimonial*/
#testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    background-image: url("./assets/desktop/bkg-bread.jpg");
    background-size: cover;
    background-position: center;
    margin: 0rem;
    padding: 0rem;
}

.test {
    width: 100rem;
}

#testimonials h3 {
    font-family: 'Lobster', cursive;
    font-size: 6rem;
    color: #f2f2f2;

    margin: 1.5rem;
    padding: 0rem;
}

#testimonials h4 {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
    color: #f2f2f2;
    text-align: center;

    margin: 1.5rem;
    padding: 0rem;
}

#testimonials h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    color: #efb13e;
    text-align: center;

    margin-top: 5rem;
    margin-bottom: 0.5rem;
    padding: 0rem;
}

#testimonials h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    color: #efb13e;
    text-align: center;

    margin: 5rem;
    padding: 0rem;
}

/*Message*/
#contact {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background: #f2f2f2;
    align-items: center;
    margin: 0rem;
    padding: 5rem 0rem;
}

#contact h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    color: #efb13e;
    text-align: center;

    margin-bottom: 0.5rem;
    padding: 0rem;
}

#contact h3 {
    font-family: 'Lobster', cursive;
    font-size: 6rem;
    text-align: center;
    color: #2f2f2f;

    margin: 1.5rem;
    padding: 0rem;
}

form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background: white;
    font-size: 1rem;
    width: 120rem;
    padding: 5rem;
}

input {
    width: 18rem;
    height: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: #2f2f2f;
    border: none;
    border-bottom: 0.2rem #2f2f2f solid;
    margin: 5rem 10rem 5rem 0rem;
}

textarea {
    font-family: 'Montserrat', sans-serif;
    color: #2f2f2f;
    border: none;
    border-bottom: 0.2rem #2f2f2f solid;
    width: 100%;
    height: 25rem;
}

input[type=submit] {
    border-bottom: none;
    font-weight: 700;
}

/*Location*/
#location {
    display: flex;
    flex-direction: row;
    background-image: url("./assets/desktop/foodbkg.png");
    justify-content: center;
    padding: 5rem 0rem;
    background-position: center;
    background-size: cover;
}

.location-addresses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.location-type {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#location h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    color: #efb13e;

    margin-top: 0rem;
    margin-bottom: 0.5rem;
    padding: 0rem;
}

#location h3 {
    font-family: 'Lobster', cursive;
    font-size: 6rem;
    color: #f2f2f2;

    margin: 1.5rem;
    padding: 0rem;
}

#location p {
    color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    width: 50rem;
}

.location-type img {
    width: 4.5rem;
    margin: 0rem;
    padding: 0rem;
}

#location a {
    color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;

    margin-top: 5rem;
    margin-bottom: 10rem;

    text-decoration: underline;
    text-decoration-color: #efb13e;
}

footer {
    color: #2f2f2f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
}

footer div {
    display: flex;
}
